.findcar-container {
  width: 65%;
  margin: 8rem auto 3rem auto;
  padding: 3rem 3rem;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 18px;
  backdrop-filter: blur(12px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
  transition: 0.4s ease;
}

.findcar-container:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.3);
}

.title {
  text-align: center;
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
  letter-spacing: 1px;
}

.title .perfect-car {
  color: var(--accent);
}

/* FORM */
.findcar-form {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  margin-top: 1rem;
}

/* LABEL */
.findcar-form label {
  font-size: 1.25rem;
  letter-spacing: 0.3px;
  font-weight: 500;
  color: var(--accent);
}

/* INPUT + SELECT */
.findcar-form input,
.findcar-form select {
  padding: 14px 16px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid var(--primary);
  color: var(--primary);
  font-size: 1rem;
  transition: 0.25s ease;
}

/* Select Arrow */
.findcar-form select {
  appearance: none;
  cursor: pointer;
}

/* Remove Scroll */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.findcar-form input:hover,
.findcar-form select:hover {
  background: rgba(255, 255, 255, 0.12);
  border-color: var(--accent);
}

.findcar-form input:focus,
.findcar-form select:focus {
  border-color: var(--accent);
  box-shadow: 0 0 8px rgba(58, 198, 255, 0.4);
}

/* Fuel Type */
.fuel-row {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.fuel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
}

.fuel-switch {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;

  padding: 0.5rem 1rem;
  width: fit-content;

  background: rgba(58, 198, 255, 0.12);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.12);

  font-weight: 500;
  color: var(--accent);
}

/* SWITCH DESIGN */
.switch {
  position: relative;
  width: 48px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--primary-light);
  border-radius: 34px;
  transition: 0.3s;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background: var(--accent);
  border-radius: 50%;
  transition: 0.3s;
}

.switch input:checked + .slider {
  background: var(--accent-light);
}

.switch input:checked + .slider:before {
  transform: translateX(22px);
}

/* SUBMIT BUTTON */
.submit-btn {
  margin-top: 1rem;
  padding: 12px;
  border-radius: 12px;
  background: var(--accent);
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--primary);
  letter-spacing: 1px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.104);
  transition: 0.35s ease;
}

.submit-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(58, 199, 255, 0.104);
  background: var(--accent-light);
}

/* MOBILE RESPONSIVE */
@media (max-width: 900px) {
  .findcar-container {
    width: 90%;
    padding: 3rem 2rem;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 2rem;
  }

  .submit-btn {
    font-size: 1.1rem;
  }
}
