.contact {
  padding: 2rem 4% 3rem 4%;
  background: #fff;
}

.contact .heading {
  font-size: 2.8rem;
  font-weight: 700;
  text-align: center;
  color: var(--primary);
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.contact .heading span {
  color: var(--accent);
}

/* ROW: MAP + FORM */
.contact .row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

/* MAP STYLING */
.contact .map {
  width: 48%;
  height: 35rem;
  background: #fff;
  padding: 1rem 1rem;
  border: none;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
}

/* FORM STYLING */
.contact form {
  width: 48%;
  height: 35rem;
  background: #fff;
  padding: 2rem 2rem;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
}

.contact form h3 {
  font-size: 1.6rem;
  color: var(--primary);
  margin-bottom: 1rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}

/* INPUT + TEXTAREA */
.contact form .box {
  width: 100%;
  padding: 1rem 1rem;
  margin: 0.5rem 0;
  font-size: 1rem;

  background: #fafafa;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.06);

  color: var(--primary);
  letter-spacing: 0.3px;
  outline: none;
  transition: 0.2s ease;
}

.contact form .box:focus {
  border-color: var(--accent);
  box-shadow: 0 0 0 3px rgba(176, 226, 255, 0.298);
}

/* TEXTAREA */
.contact form textarea.box {
  resize: none;
  height: 120px;
}

/* SEND BUTTON */
.contact form .btn {
  width: 100%;
  margin-top: 1rem;

  background: var(--accent);
  color: var(--primary);

  padding: 1rem;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  cursor: pointer;

  transition: 0.25s ease-in-out;
}

.contact form .btn:hover {
  background: var(--accent-light);
  transform: translateY(-2px);
}
